* {margin: 0;}

.cabecalho {height: 150px;
            width: 100%;
         background-color: green;}  

.menu-superior {width: 100%;
                height: 50px;
                background-color: darkgreen;}

.meio {width: 80%;
     height: 1200px;
    margin: 0 auto;}

.rodape {width: 100%;
        height: 250px;
     background-color: green;}

.ultimo {width: 100%;
        height: 100px;
        background-color: darkgreen;}

.menu-lateral {width: 20%;
                height: 100%;
               background-color: red;
                float: left;}

.conteudo {width: 78%;
         height: 100%;
        float: right;}

.banner {width: 100%;
        background-color: orange;
        height: 150px;
        margin-top: 20px;
        border-radius: 10px;}

.destaque {width: 100%;
         height: 50px;
         border-top: 3px solid darkblue;
         background-color: lightgray;
         margin-top: 10px;}

.texto-destaque {width: 30%;
                 height: 450px;
                margin-top: 10px;
                 float: left;}

.texto-destaque h4 {font-size: 30px;
                    margin-top: 10px;}

.texto-destaque p {margin-top: 20px;}

.imagem-destaque {width: 65%;
                height: 450px;
                background-color: blue;
                margin-top: 10px;
                 float: right;}

.imagem-destaque img {width: 100%;
                    height: 100%;
                    border-radius: 10px;}

 .clear{clear: both;}      

 .ultimas-noticias{width: 100%;
         height: 50px;
         border-top: 3px solid darkblue;
         background-color: lightgray;
         margin-top: 10px;}

.cont{background-color: deeppink;
        width: 30%;
        height: 350px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        margin-top: 20px;
        float: left;}

.foto { border-radius: 20px;
        background-color: black; 
        height: 45%;
        width:100%;}

.cont h4{width: 100%;
    height: 10%;
    background-color: pink; }

.cont h5{width: 100%;
    height: 10%;
    background-color: pink;}

.cont p{width: 100%;
    height: 30%;
    background-color: pink;}
